<%- include("partials/header") %>

<section class="hero text-center text-white d-flex justify-content-center">
  <div class="container">
    <h1 class="display-4 fw-bold mb-3">About Us</h1>

    <p class="lead mb-4 px-3 border rounded p-3">
      <%= aboutcontent %>
    </p>
    <a href="/feedback" class="btn btn-outline-light mt-3 px-4">
      Leave Feedback
    </a>
    <% userFeedback.forEach(function(user){ %>
    <p class="feedback">
     <%= user.feedback %>
    </p>
   <% }); %> 
  </div>
</section>

<%- include("partials/footer") %>