<%- include("partials/header") %>
<form method="post" action="/contact">
<section class="hero text-center text-white d-flex justiy-content-center">
  <div class="container">
    <h1 class="display-4 fw-bold mb-3">Contact</h1>
    <p class="lead mb-4 px-3 border">
     <%= contactcontent %>
    </p>
  </div>
</section>
</form>
<%- include("partials/footer") %>
